# @package _global_
lr_scheduler:
  scheduler:
    _target_: emg2pose.utils.build_warmup_cosine_scheduler
    warmup_iters: 5
    max_epochs: ${trainer.max_epochs}
    eta_min: 1e-5
    start_factor: 1e-3
    end_factor: 1.0
  interval: epoch
  frequency: 1
